*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light dark;
  font-size: 62.5% !important;
  scrollbar-gutter: stable;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  padding: 2.5rem;
  min-height: 100vh;
}
header,
main,
footer {
  max-width: 144rem;
  margin-inline: auto !important;
}
