@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

.heading-primary {
  color: $color-white;
  line-height: 2.3;
  margin-bottom: 6rem;
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 6.4rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    @include animate(letterSpacing);
  }
  &--sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2rem;
    @include animate(moveInFromRight);
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(
    90deg,
    $color-primary 0%,
    $color-primary-light 50%,
    $color-primary-dark 100%
  );
  display: inline-block;
  background-clip: text;
  background-size: 200%;
  color: transparent;
  transition: background-position 0.8s ease;
  &:hover {
    background-position: right;
  }
}

.heading-tertiary {
  color: $color-black;
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  color: $color-black;
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
